@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 12, 12, 13;
    --background-end-rgb: 12, 12, 13;
  }
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/font/NotoSans-VariableFont.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}



body {
  font-family: 'Montserrat', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main{
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(0deg, #0C0C0DFF 0%, #191724 16%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#home{
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(173deg, #0C0C0DFF 5%, #191724 73%);
}

#experience{
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(-3deg, #100F14 8%, #191724 75%);
}

#project{
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(183deg, #100F14 5%, #191724 35%);
}

.text-name{
  background: linear-gradient(34deg, #eb6f92 0%, #ebbcba 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

#particle-canvas{
  z-index: -999 !important;
}

.text-contact{
  background: linear-gradient(135deg, #ebbcba 0%, #eb6f92 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.company-color{
  background: linear-gradient(135deg, #F6C177 0%, #EA9D34 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-name{
  background: linear-gradient(135deg, #9CCFD8 0%, #56949F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.line-sub{
  line-height: 0;
}

.text-courier {
  font-family: 'Courier New', Courier, monospace;
}

.bg-input{
  background-color: rgba(35, 33, 54, 0.85);
}

/* on project page */
@keyframes fadeDown {
  from {
      opacity: 0.7;
      transform: translateY(0);
  }
  to {
      opacity: 0;
      transform: translateY(0px);
  }
}

.div-gradient-left{
  background: linear-gradient(20deg, #EA9D34, transparent);
}

.div-gradient-right{
  height: 396px;
  background: linear-gradient(-20deg, #EA9D34, transparent);
}

.fade-down-hover:hover {
  animation: fadeDown 1s forwards;
}




/* .exp-tab:hover {
  background-image: linear-gradient(166deg, rgba(39,37,51,1) 0%, rgba(59,56,71,1) 36%, rgba(83,70,69,1) 63%, rgba(109,85,66,1) 86%, rgba(149,108,62,1) 100%, rgba(234,157,52,1) 100%);
} */